.header {
  margin: 0;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: midnightblue;
}

.header_icon {
  width: 120px;
  cursor: pointer;
  border-radius: 10%;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: peru;
}
