.header {
  margin: 0 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header_icon {
  width: 130px;
  cursor: pointer;
  border-radius: 10%;
}

.headerLeft {
  display: flex;
  align-items: left;
}
.headerRight {
  display: flex;
  align-items: right;
}
